<div class="card">
  <!-- Card header -->
  <div class="card-header">
    <h3 class="mb-0"><%= @user.name %>のプロフィール</h3>
  </div>
  <!-- Card body -->
  <div class="card-body">
      <div class="d-lg-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center mb-4 mb-lg-0">
          <%= image_tag @user.decorate.avatar, class: 'avatar-xl rounded-circle' %>
        </div>
      </div>
    <hr class="my-5">
    <div>
      <!-- Profile -->
        <div class="mb-3">
          <h4 class="mb-0">Name</h4>
          <%= @user.name %>
        </div>
        <div class="mb-3">
          <h4 class="mb-0">Hobby</h4>
          <%= @user.hobby %></div>
        <div class="mb-3">
          <h4 class="mb-0">Profile</h4>
          <%= @user.profile %></div>
        <div class="mb-3">
        </div>
        <div class="col-12">
          <!-- Button -->
        </div>
    </div>
  </div>
</div>

